- content_for :head do
  %title Graphika Manila 2012
  %meta{name: 'description', content: 'Graphika Manila Interational Multimedia Conference_is the premiere multimedia and graphic design event in the Philippines.'}
  %meta{name: 'og:image', content: 'http://www.graphikamanila.com/images/preview.jpg'}

/ == Logo ====================================================================

#logo
  %div
    %a{href: '#'}
      .white
        = image_tag 'sprite/logo-white.png', alt: 'Graphika Manila'
      .black
        = image_tag 'sprite/logo-black.png', alt: 'Graphika Manila'


%nav.screen
  %div
    :markdown
      __August 11, 2012__ @ SMX Convention Center


/ == Introduction ============================================================

%header.intro
  %div
    .info
      :markdown
        __August 11, 2012__
        10AM to 6PM

        __SMX Convention Center__
        Mall of Asia Complex, Pasay, Metro Manila

    .speakers
      :markdown
        [Psyop](#psyop), [Gmunk](#gmunk), [Droga5](#droga5), [Hydro74](#hydro74), [JP
        Cuison](#jp-cuison), [Jerome Austria](#jerome-austria), [Create.PH](#create-ph)

    .actions
      %a.button{href: '#tickets'} Buy tickets now


/ == Main navigation =========================================================

%nav.main
  %div
    .primary
      :markdown
        * [Speakers](#speakers)
        * [Tickets](#tickets)
        * [About GM](#about)
        * [Details & FAQ](#faq)
        * [Contact](#contact)

/ == Content section =========================================================
%section.speakers.anchor
  %hgroup
    %h2#speakers
      Speakers

  .display
    .area
      %aside
        %nav
          :markdown
            * [Psyop](#psyop)
            * [Gmunk](#gmunk)
            * [Droga5](#droga5)
            * [Hydro74](#hydro74)
            * [JP Cuison](#jp-cuison)
            * [Jerome Austria](#jerome-austria)
            * [Create.PH](#create-ph)

    .tab#psyop{style: "background: url(#{image_path 'work-psyop.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Twitter](http://twitter.com/psyop)
              * [Vimeo](http://vimeo.com/psyop)

          %header
            :markdown
              ## Psyop
              ##### Speaker: Gerald Ding, Director

              ### Motion Graphics & Animation

          .body
            :markdown
              Psyop helps brands and agencies connect with consumers and solve
              business and marketing problems by telling compeling stories and
              building engaging worlds, using whatever techniques and media are
              appropriate.

              Skilled in animation, design, illustration, 3D, 2D and live action
              production--and seamlessly combining some or all of these--Psyop
              takes a unique, tailored approach to each and every project.

    .tab#gmunk.hide{style: "background: url(#{image_path 'work-gmunk.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Vimeo](http://vimeo.com/psyop)

          %header
            :markdown
              ## Gmunk
              ##### Speaker: Gabriel Munk, The Gmunk

              ### Motion Graphics & Animation

          .body
            :markdown
              Tempore ab error molestiae. Est necessitatibus sapiente soluta
              hic sit sed est. Et neque doloremque asperiores repellat.
              Doloremque exercitationem sed et facilis quas.

              Dolorem eligendi voluptates accusamus eius odit in voluptatem
              optio. Velit et sunt ducimus sit ipsum veniam sed ab. Vero
              voluptatem omnis et magnam sunt facilis.

    .tab#droga5.hide{style: "background: url(#{image_path 'work-droga5.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)

          %header
            :markdown
              ## droga5
              ##### Speaker: Me

              ### Motion Graphics & Animation

          .body
            :markdown
              Quidem velit beatae illum qui repellat sed. Facere consequatur assumenda unde autem dolores voluptatem blanditiis. Doloremque dicta deserunt similique voluptate. Unde inventore et sit. Quas consequuntur quia sunt consectetur quia quisquam.

              Earum rerum voluptatum odit consequatur non et. Nam molestias nisi a. Ratione sint autem laborum dolor qui. Sed maiores qui unde sequi consequatur similique qui velit.

    .tab#hydro74.hide{style: "background: url(#{image_path 'work-hydro74.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)
              * [YouTube](http://youtube.com/psyop)
              * [Facebook](http://facebook.com/psyop)

          %header
            :markdown
              ## Hydro 74
              ##### Speaker: Hydro guy

              ### Motion Graphics & Animation

          .body
            :markdown
              Quia at aut vel fugiat est. Quaerat dolor dolorem adipisci praesentium. Sed dolor consequuntur harum cupiditate. Voluptatem doloremque voluptatem natus maxime porro. Id praesentium quia aut.

              Sed non ut quaerat libero a dignissimos. Modi quia magnam quasi quo. Quasi quibusdam aliquid quia tenetur neque exercitationem labore. Corporis quia necessitatibus et nulla dolores eligendi pariatur tempore.

    .tab#jp-cuison.hide{style: "background: url(#{image_path 'work-jp-cuison.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)
              * [YouTube](http://youtube.com/psyop)
              * [Facebook](http://facebook.com/psyop)

          %header
            :markdown
              ## jp-cuison
              ##### Speaker: Me

              ### Motion Graphics & Animation

          .body
            :markdown
              Qui qui corporis est ut nemo aut. Blanditiis illo et non cupiditate quis excepturi sequi. Voluptatem atque dicta saepe quo exercitationem non ut qui.

              Illum neque beatae impedit quo amet debitis perferendis vitae. Deserunt voluptate porro alias eum. Quia nobis laboriosam quaerat rem. Facere ea nihil ad voluptates qui.

    .tab#jerome-austria.hide{style: "background: url(#{image_path 'work-jerome-austria.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)

          %header
            :markdown
              ## jerome-austria
              ##### Speaker: Me

              ### Motion Graphics & Animation

          .body
            :markdown
              Quaerat neque porro natus. Ducimus hic ut aliquam quidem. Qui veritatis temporibus ullam vitae eveniet optio. Nisi cumque facere et. Dolor cum corporis sed impedit vero vitae.

              Aut rem et provident voluptas quam sit dolore velit. Porro officia quis deserunt quae ab. Voluptate exercitationem tempore voluptas omnis qui sapiente culpa autem.

    .tab#create-ph.hide{style: "background: url(#{image_path 'work-create-ph.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)

          %header
            :markdown
              ## Create.PH
              ##### Speaker: Christian San Jose

              ### Motion Graphics & Animation

          .body
            :markdown
              Doloribus vel nemo consequatur. Minima animi quae iusto. Dolores fugit assumenda pariatur dignissimos tempore sapiente. Placeat et aperiam vitae labore.

              Necessitatibus in dolor quasi consequuntur voluptatibus. Dolor quibusdam ullam delectus rerum ex. Ut non autem fuga minima. Et explicabo beatae sunt aut.

/ == Content section =========================================================

%section.tickets.anchor
  %hgroup
    %h2
      GM2012 Tickets

  .display
    .area
      %aside
        :markdown
          ### [__3 ways__ to purchase tickets](#tickets)

          * [__Direct purchase__ via ticket partners](#direct-purchase)
          * [__Bank deposit__ via BDO account](#bank-deposit)
          * [__Buy tickets online__ PayPal or credit card](#buy-online)

    .tab#tickets
      .area
        .content.side.conference-pass
          :markdown
            * __Php 1,750__ *Early bird rate*
            * __Php 2,000__ *Regular rate*

          .tickets
            = image_tag 'ticket-student.jpg', class: 'student'
            = image_tag 'ticket-pro.jpg', class: 'pro'

        .content.slim
          :markdown
            ### Each Graphika Manila Ticket includes:

            * Admission to the full-day conference
            * Conference kit which includes the Graphika Manila 2012 book
            * E-certificate of attendance

            ### Important reminders:

            * Both Conference & student passes have the same priviledges.
            * Food/lunch not included in the ticket price.
            * Seats are on a first-come, first-served basis only.
            * Students are required to present a valid ID upon entry.

    .tab#direct-purchase.hide
      .area
        .content.slim
          :markdown
            ## Ticket partners

            Ticket can be purchased directly from any of our ticket partners or via bank deposit (details below):

            ### Makati: Digital Walker - Parksquare 1

            > Ground Floor, Parksquare 1,  
            > Ayala Center,  
            > Makati City

            * *Store Hours:* 10:00AM - 8:00PM
            * *Phone:* 816-3574
            * *Professional & Student Tickets*

            ### Ortigas: Crumpler - SM Megamall

            > 3rd Level,  
            > SM Megamall,  
            > Ortigas Center,  
            > Mandaluyong

            * *Store Hours:* 10:00AM - 9:00PM
            * *Phone:* 638-7391
            * *Professional & Student Tickets*

            ### QC: Crumpler Trinoma

            > 3rd Level,  
            > Trinoma Mall, Edsa,  
            > Quezon City

            * *Store Hours:* 10:00AM - 9:00PM
            * *Phone:* 916-7098
            * *Professional & Student Tickets*

            ### School partners

            __Media Max (DLS-CSB)__

            * *Contact:* Chelsea Delfin
            * *Mobile:* (+63906) 249-8619
            * *Student Tickets Only*

            __Moomedia (De La Salle University)__

            * *Contact:* Iya Del Rio
            * *Mobile:* (+63916) 551-4113
            * *Contact:* Lian Castillo
            * *Mobile:* (+63917) 921-9133
            * *Student Tickets Only*

    .tab#bank-deposit.hide
      .area
        .content.slim
          :markdown
            ## Direct deposits

            Direct deposit to BDO account via check or cash:

            * *Payee Account:* Graphika Manila Design Studio
            * *Current Account:* 0218-014-068
            * *Branch:* Kalentong Branch

            Upon deposit, please fill-out [graphikamanila.com/deposit/][dform] with the
            necessary information to identify your payment. Upon verification,
            we will be sending you a *Ticket Claim Voucher* via email.

            Present your voucher on the event day at the *Ticket Claims* section
            to pickup your tickets. We will not be sending out tickets via
            courier anymore.

            [dform]: http://graphikamanila.com/deposit/


/ == Content section: About us ===============================================

%section
  %hgroup
    %h2
      About Graphika Manila

  -# Display = The full thingie.
  -# Area = just the part that has content
  .display
    .area
      %aside
        %nav
          :markdown
            * [How it started](#how-it-started)
            * [Past speakers](#past-speakers)

    .tab#how-it-started{style: "background: url(#{image_path 'gm11.jpg'}) center center repeat"}
      .area
        .content.card
          :markdown
            __Graphika Manila Interational Multimedia Conference__ is the premiere
            multimedia and graphic design event in the Philippines.  Since 2006,
            Graphika Manila has attracted over 7,500 design students and
            professionals and is now hailed as one of the most influential
            multimedia events in the country.

            As it celebrates its seventh year running, Graphika Manila once more
            brings together Manila's creative minds to listen to inspiring
            stories and celebrate the works of the best multimedia and graphic
            designers from the Philippines and from around the globe.

            Simply put it as a creative symposium with speakers from different
            fields of the creative arts. The conference focuses on the creative
            side of design rather than technology.

/ == Content section: contact us =============================================

%section#contact
  %hgroup
    %h2
      Contact us

  .display
    .area
      hello

/ == Giant footer ============================================================

%footer#footer
  %div
    %p
      %span.copy!= "&copy;"
      %strong!= "&copy; Graphika Manila 2012."
      %br
      International Multimedia Design Conference.
      %br
      Event organized by
      %a{href: 'http://unintentional.net'} unintentional.net
