- content_for :head do
  %title Graphika Manila 2012
  %meta{name: 'description', content: 'Graphika Manila Interational Multimedia Conference is the premiere multimedia and graphic design event in the Philippines.'}
  %meta{name: 'og:image', content: 'http://www.graphikamanila.com/images/preview.jpg'}

/ == Logo ====================================================================

#logo
  %div
    %a{href: '#'}
      .white
        = image_tag 'sprite/logo-white.png', alt: 'Graphika Manila'
      .black
        = image_tag 'sprite/logo-black.png', alt: 'Graphika Manila'


%nav.screen
  %div
    .social
      != '<a href="https://twitter.com/share" class="twitter-share-button" data-via="graphikamanila">Tweet</a>'
      != '<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>'
      != '<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgraphikamanila.com%2F&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21&amp;appId=169204529787544" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>'
    :markdown
      __August 11, 2012__ @ SMX Convention Center


/ == Introduction ============================================================

%header.intro
  %div
    .info
      :markdown
        __August 11, 2012__
        10AM to 6PM

        __SMX Convention Center__
        Mall of Asia Complex, Pasay, Metro Manila

    .speakers-overview
      :markdown
        ### Featuring presentations by:
        [Psyop](#psyop), [Gmunk](#gmunk), [Droga5](#droga5), [Hydro74](#hydro74), [JP
        Cuison](#jp-cuison), [Jerome Austria](#jerome-austria), [Create.PH](#create-ph)

    .actions
      %a.button{href: '#tickets'}
        %strong Get your tickets now
      %em!= "&mdash; Early Bird 'til July 13!"


/ == Main navigation =========================================================

%nav.main
  %div
    .primary
      :markdown
        * [Speakers](#speakers)
        * [Tickets](#tickets)
        * [About GM](#about)
        * [Info & FAQ](#info)
        * [Contact](#contact)

/ == It's the final countdown! ===============================================

%section.countdown#countdown
  %div{data: { countdown_until: '08/11/2012 9:00' } }
    %header
      :markdown
        ### Don't miss it!

        See you at the biggest multimedia conference at the SMX Convention Center!

    .box.days
      %strong
      %small.days-text
        %span days

    .box.hours
      %strong
      %small Hours

    .box.minutes
      %strong
      %small Minutes

    .box.seconds
      %strong
      %small Seconds

/ == News/twitter ============================================================

%section.news#news
  %div
    %h2 Tweets
    #tweet
    %script{src: "http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"}
    :javascript
      getTwitters('tweet', {
        id: 'graphikamanila',
        count: 4,
        enableLinks: true,
        ignoreReplies: true,
        clearContents: true,
        template: '<a class="perm" href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a><br>%text%'
      });

/ == Content section =========================================================
%section.speakers.anchor
  %hgroup
    %h2#speakers
      Speakers

  .display
    .area
      %aside
        %nav
          :markdown
            * [Psyop](#psyop)
            * [Gmunk](#gmunk)
            * [Droga5](#droga5)
            * [Hydro74](#hydro74)
            * [JP Cuison](#jp-cuison)
            * [Jerome Austria](#jerome-austria)
            * [Create.PH](#create-ph)

    .tab#psyop{style: "background: url(#{image_path 'work-psyop.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://psyop.tv', target: '_blank'} Website
              %li
                %a{href: 'http://twitter.com/psyop', target: '_blank'} Twitter
              %li
                %a{href: 'http://vimeo.com/psyop', target: '_blank'} Vimeo

          %header
            :markdown
              ## Psyop
              ##### New York, USA / Speaker: Gerald Ding, Director

              ### Motion Graphics & Animation

          .body
            :markdown
              Psyop helps brands and agencies connect with consumers and solve
              business and marketing problems by telling compeling stories and
              building engaging worlds, using whatever techniques and media are
              appropriate.

              Skilled in animation, design, illustration, 3D, 2D and live action
              production--and seamlessly combining some or all of these--Psyop
              takes a unique, tailored approach to each and every project.

    .tab#gmunk.hide{style: "background: url(#{image_path 'work-gmunk.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://gmunk.com', target: '_blank'} Website
              %li
                %a{href: 'http://twitter.com/gmunk', target: '_blank'} Twitter
              %li
                %a{href: 'http://vimeo.com/gmunk', target: '_blank'} Vimeo

          %header
            :markdown
              ## Gmunk
              ##### California, USA / Speaker: Bradley G. Munkowitz

              ### Motion Graphics & Visual Effects

          .body
            :markdown
              Bradley G Munkowitz began his career as an Interactive Designer
              while crafting immersive web experiences on his cult site
              GMUNK.com. He entered the motion graphics world under the
              tutelage of Kyle Cooper at Imaginary Forces and has since
              functioned as a Design Director for top tier outfits Engine
              Design, Transistorstudios, BUCK and Prologue Films.
              
              He spent the entirety of 2010 at Digital Domain leading a team of
              GFX All-Stars to concept, design and execute holographic content
              for the film TRON Legacy.

    .tab#droga5.hide{style: "background: url(#{image_path 'work-droga5.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://droga5.com', target: '_blank'} Website
              %li
                %a{href: 'http://twitter.com/droga5', target: '_blank'} Twitter

          %header
            :markdown
              ## Droga5
              ##### Sydney, AU / Speaker: Sudeep Gohil (CEO)

              ### Advertising

          .body
            :markdown
              Droga5 is an independent advertising network. Creatively Led.
              Strategically Driven. Technology Friendly. Humanity Obsessed.

              Opened in 2006, Droga5 is an independent advertising agency,
              headquartered in Manhattan, Droga5 also has offices in Sydney and
              Auckland. The agency's clients include Prudential, Puma,
              Kraft Foods, Microsoft, The Coca-Cola Company, and Hennessy,
              among others. Droga5 has also launched social projects for UNICEF
              and the 2008 Obama campaign.

    .tab#hydro74.hide{style: "background: url(#{image_path 'work-hydro74.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://hydro74.com', target: '_blank'} Website
              %li
                %a{href: 'http://twitter.com/hydro74', target: '_blank'} Twitter

          %header
            :markdown
              ## Hydro 74
              ##### Florida, USA / Speaker: Joshua Smith

              ### Illustration and Graphic Design

          .body
            :markdown
              Hydro74 is a Orlando based designer, otherwise known as Joshua M.
              Smith. The soul purpose of his career is to push the boundries in
              doing what he feels is relevant to the market as well as extract
              various elements and trends to be able to offer them up his my
              own personal work. He firmly believes in having set style tones,
              yet a sense of diversity to make any various project unique to
              the demands that are set forth.
              
              Some of his clients include Nike, Adidas, Lucas Films, Levis,
              Harley Davidson, among many others.

    .tab#jp-cuison.hide{style: "background: url(#{image_path 'work-jp-cuison.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://jpcuisonart.blogspot.com', target: '_blank'} Website
              %li
                %a{href: 'http://twitter.com/jpcuison', target: '_blank'} Twitter
              %li
                %a{href: 'http://facebook.com/jpcuison', target: '_blank'} Facebook

          %header
            :markdown
              ## JP Cuison
              ##### Manila, PH

              ### Illustration & Graphic Design

          .body
            :markdown
              JP graduated with a Bachelor of Fine Arts in Visual Communication
              from the University of the Philippines. As a young talent, he was
              awarded with the Best Thesis recognition. JP is also recognized
              highly in the field of advertising as he is a two-time Philippine
              representative to the prestigious Cannes Young Lions
              International Advertising Festival. Though he has a hectic
              schedule as a senior art director, he still manages to pursue
              non-advertising endeavors. He just concluded his 1st solo exhibit
              entitled "GIGZILLA" (a collection of his gig posters)
              at Pablo Gallery, Cubao X last May, 2010. He loves designer vinyl
              toys.

    .tab#jerome-austria.hide{style: "background: url(#{image_path 'work-jerome-austria.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://jeromeaustria.com', target: '_blank'} Website

          %header
            :markdown
              ## Jerome Austria
              ##### California, USA

              ### Creative Direction

          .body
            :markdown
              Jerome Austria has established himself as a pioneer in
              interactive advertising. He was recently named EVP Digital Group
              Creative Director at Deutsch LA. He collected over 50
              international awards from prestigious competitions including
              Cannes Lions and the Clios.
              
              His career milestones include: working on the team that brought
              the Nike Digital Agency of Record to R/GA, helping jump-start the
              AKQA office in NY with work for Coca-Cola, and building a 20+
              interactive team from scratch at Wieden+Kennedy NY and then
              eventually running the agency as co-executive creative director.

    .tab#create-ph.hide{style: "background: url(#{image_path 'work-create-ph.jpg'})"}
      .area
        .content.card
          %nav
            %ul
              %li
                %a{href: 'http://create.ph', target: '_blank'} Website
              %li
                %a{href: 'http://twitter.com/createph', target: '_blank'} Twitter

          %header
            :markdown
              ## Create.PH
              ##### Manila, Philippines / Speaker: Christian San Jose

              ### Graphic and Web Design

          .body
            :markdown
              Create.ph is a team of passionate creatives that craft simple and
              thoughtful things for the web and beyond. Thier clients include
              Adobe, Kobe Bryant, Dwayne Wade, Francis Magalona Clothing Corp.,
              among others.

              They are based in Manila Philippines.

/ == Content: Tickets ========================================================

%section.tickets.anchor
  %hgroup
    %h2
      GM2012 Tickets

  .display
    .area
      %aside
        :markdown
          ### [__3 ways__ to purchase tickets](#tickets)

        %ul
          %li
            %a{href: '#direct-purchase'}
              %strong Direct purchase
              via ticket partners
          %li
            %a{href: '#bank-deposit'}
              %strong Bank deposit
              via BDO account
          %li
            %a{href: 'http://store.graphikamanila.com', target: '_blank'}
              %strong Buy tickets online
              PayPal or credit card

    .tab#tickets
      .area
        .content.side.conference-pass
          :markdown
            * ### Professionals:
            * __P 2,000__ *Regular rate*
            * __P 1,750__ *Early Bird* *until July 13*

          :markdown
            * ### Students:
            * __P 1,750__ *Regular rate*
            * __P 1,550__ *Early Bird* *until July 13*

          .tickets
            = image_tag 'ticket-student.jpg', class: 'student'
            = image_tag 'ticket-pro.jpg', class: 'pro'

        .content.slim
          :markdown
            ### Each Graphika Manila Ticket includes:

            * Admission to the full-day conference
            * Conference kit which includes the GM 2012 book
            * E-certificate of attendance

            ### Important reminders:

            * Conference & student passes have the same priviledges.
            * Food/lunch not included in the ticket price.
            * Seats are on a first-come, first-served basis only.
            * Students are required to present a valid ID upon entry.

    .tab#direct-purchase.hide
      .area
        .content.full
          .partners
            %article
              = image_tag 'digital-walker.jpg', alt: 'Digital Walker'
              :markdown
                ### Makati
                #### Digital Walker - Parksquare 1
                
                Ground Floor, Parksquare 1,  
                Ayala Center,  
                Makati City
                
                *Professional & Student Tickets*
                10:00AM - 9:00PM  
                Phone: 816-3574

            %article
              = image_tag 'crumpler.jpg', alt: 'Crumpler'
              :markdown
                ### Ortigas
                #### Crumpler - SM Megamall

                3rd Level, SM Megamall,  
                Ortigas Center,  
                Mandaluyong
                
                *Professional & Student Tickets*  
                10:00AM - 9:00PM  
                Phone: 638-7391

            %article
              = image_tag 'crumpler.jpg', alt: 'Crumpler'
              :markdown
                ### Quezon City
                #### Crumpler - Trinoma

                3rd Level,  
                Trinoma Mall, Edsa,  
                Quezon City

                *Professional & Student Tickets*  
                10:00AM - 9:00PM  
                Phone: 916-7098

          .schools
            %article
              :markdown
                ## School partner
                You may contact this organzation for student tickets.

            %article
              :markdown
                __Media Max (DLS-CSB)__

                * *Contact:* Chelsea Delfin
                * *Mobile:* +63 (906) 249-8619
                * *Student Tickets Only*

    .tab#bank-deposit.hide
      .area
        .content.slim
          :markdown
            ## Direct deposits

            Direct deposit to BDO account via check or cash:

            * *Payee Account:* Graphika Manila Design Studio
            * *Current Account:* 0218-014-068
            * *Branch:* Kalentong Branch

            Upon deposit, please fill-out [graphikamanila.com/deposit/][dform] with the
            necessary information to identify your payment. Upon verification,
            we will be sending you a *Ticket Claim Voucher* via email.

            Present your voucher on the event day at the *Ticket Claims* section
            to pickup your tickets. We will not be sending out tickets via
            courier anymore.

            [dform]: http://graphikamanila.com/deposit/


/ == Content section: About us ===============================================

%section.anchor.about
  %hgroup
    %h2
      About Graphika Manila

  -# Display = The full thingie.
  -# Area = just the part that has content
  .display
    .area
      %aside
        %nav
          :markdown
            * [About GM](#about)
            * [Past speakers](#past-speakers)

    .tab#about{style: "background: url(#{image_path 'gm11.jpg'}) center top repeat"}
      .area
        .content.card
          :markdown
            __Graphika Manila__ is the premiere multimedia and graphic design
            event in the Philippines.  Since 2006, Graphika Manila has
            attracted over 10,000 design students and professionals and is now
            hailed as one of the most influential multimedia events in the
            country.

            As it celebrates its seventh year running, Graphika Manila once more
            brings together Manila's creative minds to listen to inspiring
            stories and celebrate the works of the best multimedia and graphic
            designers from the Philippines and from around the globe.

            Simply put, it's a creative symposium with speakers from different
            fields of the creative arts. The conference focuses on the creative
            side of design rather than technology.

    .tab.hide#past-speakers{style: "background: url(#{image_path 'speakers.jpg'}) center top repeat"}
      .area
        .content.card
          :markdown

            __Graphika Manila has been instrumental__ in bringing in some of the
            industry's most respected professionals as well as world-renowned
            companies, to share their experiences in multimedia and design.
            Past speakers include:

            * __2006__  
            Joshua Davis, MK12, Inksurge, Team Manila, Nico Puertollano, Drew
            Europeo, Avid Liongoren

            * __2007__  
            WeWorkForThem, Steve Tirona, The Asylum, Electrolychee, Hue
            Visualab, Guadakomeda

            * __2008__  
            Pixar Animation Studios, tokidoki (Simone Legno), Robert Alejandro,
            The Acidhouse, Collision Theory

            * __2009__  
            Industrial Light and Magic, Stefan Sagmeister, Brand New School,
            Everywhere We Shoot!, Springboard, Adobo

            * __2010__  
            Tara McPherson, Danny Yount, Phunk Studio, Underground Logic,
            Cynthia & Arnold Arre, Rocketsheep Post

            * __2011__  
            Weta Digital, Mike Friolo, Laundry!, Dan Matutina, 27+20, Seph Mayol

/ == Content: FAQ ========================================================

%section.faq.anchor
  %hgroup
    %h2
      Info & FAQ

  .display
    .area
      %aside
        %nav
          :markdown
            * [Info](#info)
            * [FAQ](#faq)

    .tab#info
      .area
        .content.full
          .hero
            .left
              %a{href: 'http://www.flickr.com/photos/bychester/2804940203/', target: '_blank'}
                = image_tag 'smx.jpg', alt: "SMX Convention Center"
            .right
              = google_map "https://maps.google.com/maps?q=SMX+Convention+Center,+Marina+Way,+Pasay,+Metro+Manila,+Philippines&hl=en&sll=37.0625,-95.677068&sspn=47.167389,91.318359&oq=smx+con&hq=SMX+Convention+Center,+Marina+Way,&hnear=Pasay,+Metro+Manila,+Philippines&t=m&z=15", width: 319, height: 180

          .info
            %h2 Let's get this party started.

            .date
              %strong.day 11
              %span.weekday Saturday
              %span.month August 11, 2012

            :markdown
              * __Registration at 9:00 AM__
              * Event starts at 10:00 AM
              * and ends at 5:00PM

            :markdown
              * __SMX Convention Center__
              * Function rooms 1-4
              * SM Mall of Asia, Bay City, Pasay, MM

    .tab.hide#faq
      .area
        .content.full
          :markdown
            * __I'm not a designer or artist, could I still attend Graphika Manila?__
            YES! By all means. If you are creative at heart, passionate about design or are one who appreciates the arts, you are very welcome to attend Graphika Manila.

            * __I'm a designer or artist, what is the best way to support Graphika Manila?__
            One of the best ways to support Graphika Manila is to actually purchase a ticket and attend the event. Your purchase will go a long way to help Graphika Manila become better in many ways.

            * __Do you accept credit card payments?__
            Unfortunately, no. Our ticket partners only accept cash payments. Cash and check payments are accepted through bank deposit.

            * __Does pre-registration guarantee me a seat to the conference?__
            No. We request pre-registration from attendees so that they may receive more information about Graphika Manila. Pre-registration is NOT REQUIRED and DOES NOT guarantee a ticket or admission to the event.

            * __What will my purchase of a Graphika Manila ticket be inclusive of?__
            Each purchase of a Graphika Manila ticket includes admission to the full-day conference, a conference kit, an e-certificate of attendance, and the Graphika Manila 2011 Book. It does NOT include food for the conference, which will be on the attendee's account.

            * __Is there a guaranteed seating arrangement?__
            As much as we'd like to, there is no guaranteed seating arrangement because we have multiple ticketing partners that keep us from assigning seats. Seats are on a first-come, first-served basis only.

/ == Content section: contact us =============================================

%section#contact
  %hgroup
    %h2
      Contact us

  .display
    .area
      .content.side
        :markdown
          ## Graphika Manila @ coLAB
          c/o Full Suite, 4th Floor, Optima Building  
          221 Salcedo Street, Legaspi Village, Makati City  
          Phone: (+632) 759-5000 local 120

          ### For press program and partnership:
          __Aram Beheshti__ graphika@graphikamanila.com

          ### For tickets and payment:
          __Ella Saballa__ ella@graphikamanila.com

      .content.slim
        / Wufoo
        != '<div id="wufoo-w7x2r7">Fill out my <a href="http://graphikamanila.wufoo.com/forms/w7x2r7">online form</a>.</div>'
        :javascript
          var w7x2r7;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'graphikamanila', 
          'formHash':'w7x2r7', 
          'autoResize':true,
          'height':'531',
          'async':true,
          'header':'show', 
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { w7x2r7 = new WufooForm();w7x2r7.initialize(options);w7x2r7.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');

/ == Giant footer ============================================================

%footer#footer
  %div
    %p
      %span.copy!= "&copy;"
      %strong!= "&copy; Graphika Manila 2012."
      %br
      International Multimedia Design Conference.
      %br
      Event organized by
      %a{href: 'http://unintentional.net'} unintentional.net

/ == Bonus: entries ==========================================================

%a.call-for-entries{href: '#call-for-entries'}
  %strong Show us your work!
  %span Now accepting entries for the Graphika Manila book.

%section.entries-info.content#call-for-entries
  %a.close{href: '#'}!= "&times;"
  %header
    %h2
      %strong Graphika Manila 2012
      %span Call for entries

  .column
    %h3 Artwork Guidelines:

    %p.guidelines
      = image_tag 'guidelines.png', alt: '5 by 8 inches, 300dpi, 1/4 inch bleed, portait only'

    %p.download
      %strong CMYK only.
      %span JPG, TIFF or PSD.
      %a{href: 'gm-template.zip'}
        Download PSD template
        &rarr;

  .column
    :markdown
      ### Criteria:

      All mediums accepted (Graphic Design, Illustration, Photography, Mixed
      Media, etc). New and unpublished works prefered. No particular theme
      required. Artworks must be all original and will remain the property of
      the artist.

      All accepted submissions will receive a complimentary copy of the book,
      for pick up at Graphika Manila 2012.


  .column
    %h3 Submit now!

    %p
      Please ZIP artwork file and send together with your Name and URL to
      %a{href: 'mailto:drew@graphikamanila.com'} drew (at) graphikamanila (dot) com.
      You will be contacted if your artwork gets selected.

    %p
      Deadline for submission of artworks is on Friday, July 13, 2012.
