- content_for :head do
  %title Graphika Manila 2012
  %meta{name: 'description', content: 'Graphika Manila Interational Multimedia Conference_is the premiere multimedia and graphic design event in the Philippines.'}
  %meta{name: 'og:image', content: 'http://www.graphikamanila.com/images/preview.jpg'}

/ == Logo ====================================================================

#logo
  %div
    %a{href: '#'}
      .white
        = image_tag 'sprite/logo-white.png', alt: 'Graphika Manila'
      .black
        = image_tag 'sprite/logo-black.png', alt: 'Graphika Manila'


%nav.screen
  %div
    :markdown
      __August 11, 2012__ @ SMX Convention Center


/ == Introduction ============================================================

%header.intro
  %div
    .info
      :markdown
        __August 11, 2012__
        10AM to 6PM

        __SMX Convention Center__
        Mall of Asia Complex, Pasay, Metro Manila

    .speakers
      :markdown
        [Psyop](#psyop), [Gmunk](#gmunk), [Droga5](#droga5), [Hydro74](#hydro74), [JP
        Cuison](#jp-cuison), [Jerome Austria](#jerome-austria), [Create.PH](#create-ph)

    .actions
      %a.button{href: '#tickets'} Buy tickets now


/ == Main navigation =========================================================

%nav.main
  %div
    .primary
      :markdown
        * [Speakers](#speakers)
        * [Tickets](#tickets)
        * [About GM](#about)
        * [Info & FAQ](#info)
        * [Contact](#contact)

/ == It's the final countdown! ===============================================

%section.countdown#countdown
  %div{data: { countdown_until: '08/11/2012 9:00' } }
    %header
      :markdown
        ### Don't miss it!

        See you at the biggest multimedia conference at the SMX Convention Center!

    .box.days
      %strong
      %small.days-text
        %span days

    .box.hours
      %strong
      %small Hours

    .box.minutes
      %strong
      %small Minutes

    .box.seconds
      %strong
      %small Seconds

/ == Content section =========================================================
%section.speakers.anchor
  %hgroup
    %h2#speakers
      Speakers

  .display
    .area
      %aside
        %nav
          :markdown
            * [Psyop](#psyop)
            * [Gmunk](#gmunk)
            * [Droga5](#droga5)
            * [Hydro74](#hydro74)
            * [JP Cuison](#jp-cuison)
            * [Jerome Austria](#jerome-austria)
            * [Create.PH](#create-ph)

    .tab#psyop{style: "background: url(#{image_path 'work-psyop.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Twitter](http://twitter.com/psyop)
              * [Vimeo](http://vimeo.com/psyop)

          %header
            :markdown
              ## Psyop
              ##### Speaker: Gerald Ding, Director

              ### Motion Graphics & Animation

          .body
            :markdown
              Psyop helps brands and agencies connect with consumers and solve
              business and marketing problems by telling compeling stories and
              building engaging worlds, using whatever techniques and media are
              appropriate.

              Skilled in animation, design, illustration, 3D, 2D and live action
              production--and seamlessly combining some or all of these--Psyop
              takes a unique, tailored approach to each and every project.

    .tab#gmunk.hide{style: "background: url(#{image_path 'work-gmunk.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Vimeo](http://vimeo.com/psyop)

          %header
            :markdown
              ## Gmunk
              ##### Speaker: Gabriel Munk, The Gmunk

              ### Motion Graphics & Animation

          .body
            :markdown
              Tempore ab error molestiae. Est necessitatibus sapiente soluta
              hic sit sed est. Et neque doloremque asperiores repellat.
              Doloremque exercitationem sed et facilis quas.

              Dolorem eligendi voluptates accusamus eius odit in voluptatem
              optio. Velit et sunt ducimus sit ipsum veniam sed ab. Vero
              voluptatem omnis et magnam sunt facilis.

    .tab#droga5.hide{style: "background: url(#{image_path 'work-droga5.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)

          %header
            :markdown
              ## droga5
              ##### Speaker: Me

              ### Motion Graphics & Animation

          .body
            :markdown
              Quidem velit beatae illum qui repellat sed. Facere consequatur assumenda unde autem dolores voluptatem blanditiis. Doloremque dicta deserunt similique voluptate. Unde inventore et sit. Quas consequuntur quia sunt consectetur quia quisquam.

              Earum rerum voluptatum odit consequatur non et. Nam molestias nisi a. Ratione sint autem laborum dolor qui. Sed maiores qui unde sequi consequatur similique qui velit.

    .tab#hydro74.hide{style: "background: url(#{image_path 'work-hydro74.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)
              * [YouTube](http://youtube.com/psyop)
              * [Facebook](http://facebook.com/psyop)

          %header
            :markdown
              ## Hydro 74
              ##### Speaker: Hydro guy

              ### Motion Graphics & Animation

          .body
            :markdown
              Quia at aut vel fugiat est. Quaerat dolor dolorem adipisci praesentium. Sed dolor consequuntur harum cupiditate. Voluptatem doloremque voluptatem natus maxime porro. Id praesentium quia aut.

              Sed non ut quaerat libero a dignissimos. Modi quia magnam quasi quo. Quasi quibusdam aliquid quia tenetur neque exercitationem labore. Corporis quia necessitatibus et nulla dolores eligendi pariatur tempore.

    .tab#jp-cuison.hide{style: "background: url(#{image_path 'work-jp-cuison.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)
              * [YouTube](http://youtube.com/psyop)
              * [Facebook](http://facebook.com/psyop)

          %header
            :markdown
              ## jp-cuison
              ##### Speaker: Me

              ### Motion Graphics & Animation

          .body
            :markdown
              Qui qui corporis est ut nemo aut. Blanditiis illo et non cupiditate quis excepturi sequi. Voluptatem atque dicta saepe quo exercitationem non ut qui.

              Illum neque beatae impedit quo amet debitis perferendis vitae. Deserunt voluptate porro alias eum. Quia nobis laboriosam quaerat rem. Facere ea nihil ad voluptates qui.

    .tab#jerome-austria.hide{style: "background: url(#{image_path 'work-jerome-austria.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)

          %header
            :markdown
              ## jerome-austria
              ##### Speaker: Me

              ### Motion Graphics & Animation

          .body
            :markdown
              Quaerat neque porro natus. Ducimus hic ut aliquam quidem. Qui veritatis temporibus ullam vitae eveniet optio. Nisi cumque facere et. Dolor cum corporis sed impedit vero vitae.

              Aut rem et provident voluptas quam sit dolore velit. Porro officia quis deserunt quae ab. Voluptate exercitationem tempore voluptas omnis qui sapiente culpa autem.

    .tab#create-ph.hide{style: "background: url(#{image_path 'work-create-ph.jpg'})"}
      .area
        .content.card
          %nav
            :markdown
              * [Website](http://psyop.com)
              * [Deviantart](http://psyop.deviantart.com)
              * [Dribbble](http://dribbble.com/psyop)

          %header
            :markdown
              ## Create.PH
              ##### Speaker: Christian San Jose

              ### Motion Graphics & Animation

          .body
            :markdown
              Doloribus vel nemo consequatur. Minima animi quae iusto. Dolores fugit assumenda pariatur dignissimos tempore sapiente. Placeat et aperiam vitae labore.

              Necessitatibus in dolor quasi consequuntur voluptatibus. Dolor quibusdam ullam delectus rerum ex. Ut non autem fuga minima. Et explicabo beatae sunt aut.

/ == Content: Tickets ========================================================

%section.tickets.anchor
  %hgroup
    %h2
      GM2012 Tickets

  .display
    .area
      %aside
        :markdown
          ### [__3 ways__ to purchase tickets](#tickets)

          * [__Direct purchase__ via ticket partners](#direct-purchase)
          * [__Bank deposit__ via BDO account](#bank-deposit)
          * [__Buy tickets online__ PayPal or credit card](#buy-online)

    .tab#tickets
      .area
        .content.side.conference-pass
          :markdown
            * ### Professionals:
            * __P 2,000__ *Regular rate*
            * __P 1,750__ *until July 13*

          :markdown
            * ### Students:
            * __P 1,750__ *Regular rate*
            * __P 1,550__ *until July 13*

          .tickets
            = image_tag 'ticket-student.jpg', class: 'student'
            = image_tag 'ticket-pro.jpg', class: 'pro'

        .content.slim
          :markdown
            ### Each Graphika Manila Ticket includes:

            * Admission to the full-day conference
            * Conference kit which includes the Graphika Manila 2012 book
            * E-certificate of attendance

            ### Important reminders:

            * Both Conference & student passes have the same priviledges.
            * Food/lunch not included in the ticket price.
            * Seats are on a first-come, first-served basis only.
            * Students are required to present a valid ID upon entry.

    .tab#direct-purchase.hide
      .area
        .content.slim
          :markdown
            ## Ticket partners

            Ticket can be purchased directly from any of our ticket partners or via bank deposit (details below):

            ### Makati: Digital Walker - Parksquare 1

            > Ground Floor, Parksquare 1,  
            > Ayala Center,  
            > Makati City

            * *Store Hours:* 10:00AM - 8:00PM
            * *Phone:* 816-3574
            * *Professional & Student Tickets*

            ### Ortigas: Crumpler - SM Megamall

            > 3rd Level,  
            > SM Megamall,  
            > Ortigas Center,  
            > Mandaluyong

            * *Store Hours:* 10:00AM - 9:00PM
            * *Phone:* 638-7391
            * *Professional & Student Tickets*

            ### QC: Crumpler Trinoma

            > 3rd Level,  
            > Trinoma Mall, Edsa,  
            > Quezon City

            * *Store Hours:* 10:00AM - 9:00PM
            * *Phone:* 916-7098
            * *Professional & Student Tickets*

            ### School partners

            __Media Max (DLS-CSB)__

            * *Contact:* Chelsea Delfin
            * *Mobile:* (+63906) 249-8619
            * *Student Tickets Only*

            __Moomedia (De La Salle University)__

            * *Contact:* Iya Del Rio
            * *Mobile:* (+63916) 551-4113
            * *Contact:* Lian Castillo
            * *Mobile:* (+63917) 921-9133
            * *Student Tickets Only*

    .tab#bank-deposit.hide
      .area
        .content.slim
          :markdown
            ## Direct deposits

            Direct deposit to BDO account via check or cash:

            * *Payee Account:* Graphika Manila Design Studio
            * *Current Account:* 0218-014-068
            * *Branch:* Kalentong Branch

            Upon deposit, please fill-out [graphikamanila.com/deposit/][dform] with the
            necessary information to identify your payment. Upon verification,
            we will be sending you a *Ticket Claim Voucher* via email.

            Present your voucher on the event day at the *Ticket Claims* section
            to pickup your tickets. We will not be sending out tickets via
            courier anymore.

            [dform]: http://graphikamanila.com/deposit/


/ == Content section: About us ===============================================

%section.anchor.about
  %hgroup
    %h2
      About Graphika Manila

  -# Display = The full thingie.
  -# Area = just the part that has content
  .display
    .area
      %aside
        %nav
          :markdown
            * [About GM](#about)
            * [Past speakers](#past-speakers)

    .tab#about{style: "background: url(#{image_path 'gm11.jpg'}) center top repeat"}
      .area
        .content.card
          :markdown
            __Graphika Manila Interational Multimedia Conference__ is the premiere
            multimedia and graphic design event in the Philippines.  Since 2006,
            Graphika Manila has attracted over 7,500 design students and
            professionals and is now hailed as one of the most influential
            multimedia events in the country.

            As it celebrates its seventh year running, Graphika Manila once more
            brings together Manila's creative minds to listen to inspiring
            stories and celebrate the works of the best multimedia and graphic
            designers from the Philippines and from around the globe.

            Simply put it as a creative symposium with speakers from different
            fields of the creative arts. The conference focuses on the creative
            side of design rather than technology.

    .tab.hide#past-speakers{style: "background: url(#{image_path 'gm11.jpg'}) center top repeat"}
      .area
        .content.card
          :markdown

            __Graphika Manila has been instrumental__ in bringing in some of the
            industry's most respected professionals as well as world-renowned
            companies, to share their experiences in multimedia and design.
            Past speakers include:

            * __2006__  
            Joshua Davis, MK12, Inksurge, Team Manila, Nico Puertollano, Drew
            Europeo, Avid Liongoren

            * __2007__  
            WeWorkForThem, Steve Tirona, The Asylum, Electrolychee, Hue
            Visualab, Guadakomeda

            * __2008__  
            Pixar Animation Studios, tokidoki (Simone Legno), Robert Alejandro,
            The Acidhouse, Collision Theory

            * __2009__  
            Industrial Light and Magic, Stefan Sagmeister, Brand New School,
            EverywhereWeShoot, Springboard, Adobo Magazine

            * __2010__  
            Tara McPherson, Danny Yount, Phunk Studio, Underground Logic,
            Cynthia & Arnold Arre, Rocketsheep Post

            * __2011__  
            Weta Digital, Mike Friolo, Laundry!, Dan Matutina, 27+20, Seph Mayol

/ == Content: FAQ ========================================================

%section.faq.anchor
  %hgroup
    %h2
      Info & FAQ

  .display
    .area
      %aside
        %nav
          :markdown
            * [Info](#info)
            * [FAQ](#faq)

    .tab#info
      .area
        .content.side.map
          = google_map "https://maps.google.com/maps?q=SMX+Convention+Center,+Marina+Way,+Pasay,+Metro+Manila,+Philippines&hl=en&sll=37.0625,-95.677068&sspn=47.167389,91.318359&oq=smx+con&hq=SMX+Convention+Center,+Marina+Way,&hnear=Pasay,+Metro+Manila,+Philippines&t=m&z=15", width: 350, height: 180

        .content.slim
          %a{href: 'http://www.flickr.com/photos/acullador/2064561929/lightbox/'}
            = image_tag 'smx.jpg', alt: "SMX Convention Center"

          :markdown
            ## August 11, 2012 (Saturday)

            * Registration begins at 9:00 AM
            * Event starts at 10:00 AM
            * and ends at 5:00PM

            ### SMX Convention Center

            * Function rooms 1-4
            * SM Mall of Asia, Bay City, Pasay City, Metro Manila

    .tab.hide#faq
      .area
        .content.full
          :markdown
            * __I'm not a designer or artist, could I still attend Graphika Manila?__
            YES! By all means. If you are creative at heart, passionate about design or are one who appreciates the arts, you are very welcome to attend Graphika Manila.

            * __I'm a designer or artist, what is the best way to support Graphika Manila?__
            One of the best ways to support Graphika Manila is to actually purchase a ticket and attend the event. Your purchase will go a long way to help Graphika Manila become better in many ways.

            * __Do you accept credit card payments?__
            Unfortunately, no. Our ticket partners only accept cash payments. Cash and check payments are accepted through bank deposit.

            * __Does pre-registration guarantee me a seat to the conference?__
            No. We request pre-registration from attendees so that they may receive more information about Graphika Manila. Pre-registration is NOT REQUIRED and DOES NOT guarantee a ticket or admission to the event.

            * __What will my purchase of a Graphika Manila ticket be inclusive of?__
            Each purchase of a Graphika Manila ticket includes admission to the full-day conference, a conference kit, an e-certificate of attendance, and the Graphika Manila 2011 Book. It does NOT include food for the conference, which will be on the attendee's account.

            * __Is there a guaranteed seating arrangement?__
            As much as we'd like to, there is no guaranteed seating arrangement because we have multiple ticketing partners that keep us from assigning seats. Seats are on a first-come, first-served basis only.

/ == Content section: contact us =============================================

%section#contact
  %hgroup
    %h2
      Contact us

  .display
    .area
      hello

/ == Giant footer ============================================================

%footer#footer
  %div
    %p
      %span.copy!= "&copy;"
      %strong!= "&copy; Graphika Manila 2012."
      %br
      International Multimedia Design Conference.
      %br
      Event organized by
      %a{href: 'http://unintentional.net'} unintentional.net
