!!! 5
!= "<!--\n#{File.read 'source/humans.txt'}\n-->"
%html
  %head
    %meta(charset='UTF-8')
    %meta{name: 'language', content: 'en'}

    = ie_edge_tag

    = stylesheet_link_tag "site"
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    = javascript_include_tag "site"

    = webfonts google: { families: [ 'Exo:100,400,700', 'Armata:400' ] }
    -# = google_analytics 'UA-29493571-1'

    = yield_content :head

  %body
    = yield
